h1 {
    text-align: center;
  }
  
  .result {
    text-align: left;
    display: inline;
    width: 100%;
  }
  
  .person {
    margin-left: 40px;
  }
  
  .two-col {
    display: inline-block;
  }
  
  .results-container {
    text-align: left;
  }
  
  .conv-title {
    padding-right: 80px;
  }
  
  .convo-output {
    width: 50%;
    float: right;
    display: inline-block;
  }
  