<!DOCTYPE html>
<html lang="en">
  <head>
    <title>QuotePop</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css"></link>
  </head>
  <body>
    <script>
        $(function() {
            $('a#test').on('click', function(e) {
                //e.preventDefault()
                $(".speechTextBtn").html("I'm listening. Say Something!")
                $.getJSON('/speech',
                    function(data) {
                        //do nothing
                    }).always(function() {
                        $(".speechTextBtn").html("Click to Start Listening")
                        location.reload()
                        
                        $.getJSON('/say',
                          function(data) {
                          //do nothing
                        })
                    })
                    return false;
                });
            });
    </script>
    <div class="container">
      <div class="row">

        <div class="col left-card">

          <div class="left-text">
            <h1>QuotePop</h1>
            <a href=# id=test>
                <button type="button" class="speechTextBtn btn btn-light">
                    Click for Speech To Text
                </button>
            </a>
          </div>
        </div>

        <div class="col">
          <h2>What you said:</h2>

          {% if transcript is not none %}
              <p id="result">{{ transcript }}</p>
          {% else %}
              <p id="result">Nothing lmao</p>
          {% endif %}
        </div>
      </div>

      <div class="row quote-row">
        <h2>Your Quote:</h2>
        {% if output is not none %}
              <p class="output"><i>{{ output }}</i></p>
          {% else %}
              <p class="output">Nothing lmao</p>
          {% endif %}
      </div>
    </div>

  </body>
</html>
